<link rel="stylesheet" href="css/produto_inspect.css">
<script src="scripts/compra_e_carrinho.js" defer></script>
<div class="produto-inspect">
  <h2><%= @produto.nome %></h2>
  <p><strong>Descrição:</strong> <%= @produto.descricao %></p>
  <p><strong>Preço:</strong> <%= @produto.preco %> R$</p>
  <p><strong>Estoque:</strong> <%= @produto.estoque %></p>
  <p><strong>Vendedor:</strong> <%= @produto.usuario.nome %></p>
</div>
<div class="buy-options">
  <% if !@id_usuario.nil? %>
    <button id="comprar" data-id-produto="<%= @produto.id %>">COMPRAR</button>
    <button id="adicionar-carrinho" data-id-produto="<%= @produto.id %>">Adicionar ao Carrinho</button>
    <label for="quantidade">Quantidade</label>
    <input id="quantidade" name="quantidade" type="number" max="<%= @produto.estoque %>" min="1" value="1">
  <% else %>
    <h3>Faça <a target="_self" href="/login">Login</a> para comprar ou adicionar ao carrinho</h3>
  <% end %>
</div>