<script type="module" src="scripts/element_factory.js" defer></script>
<script type="module" src="scripts/compra_e_carrinho.js" defer></script>
<div class="produto-inspect">
  <h2><%= @produto.nome %></h2>
  <p>Descrição: <%= @produto.descricao %></p>
  <p>Preço: <%= @produto.preco %> R$</p>
  <p>Estoque: <%= @produto.estoque %></p>
  <p>Vendedor: <%= @produto.usuario.nome %></p>
</div>
<div class="buy-options">
  <% if !@id_usuario.nil? %>
    <button id="comprar"
            onclick="comprarAdicionarCarrinho(<%= @id_usuario.to_s %>,<%= @produto.id.to_s %>,'comprar')">
      COMPRAR
    </button>
    <button id="adicionar-carrinho"
            onclick="comprarAdicionarCarrinho(<%= @id_usuario.to_s %>,<%= @produto.id.to_s %>,'carrinho')">
      Adicionar ao Carrinho
    </button>
    <label for="quantidade">Quantidade</label>
    <input id="quantidade" name="quantidade" type="number" max="<%= @produto.estoque %>" min="1" value="1">
  <% else %>
    <h3>Faça <a target="_self" href="/login">Login</a> para comprar ou adicionar ao carrinho</h3>
  <% end %>
</div>