<ul class="nav_options">
  <li><a target="_self" id="link_pagina_inicial" href="/?id_usuario=<%= @id_usuario %>">Home</a></li>
  <li><a target="_self" id="link_compras_usuario" href="/compras?id_usuario=<%= @id_usuario %>">Minhas Compras</a></li>
  <li><a target="_self" id="link_vendas_usuario" href="/vendas?id_usuario=<%= @id_usuario %>">Minhas Vendas</a></li>
  <li><a target="_self" id="link_carrinho" href="/carrinho?id_usuario=<%= @id_usuario %>">Meu Carrinho</a></li>
  <li><a target="_self" id="link_produtos" href="/produtos?id_usuario=<%= @id_usuario %>">Meus Produtos</a></li>
  <li><a target="_self" id="link_perfil" href="/perfil?id_usuario=<%= @id_usuario %>">Meu Perfil</a></li>
  <li><a target="_self" id="link_logout" href="/">Log Out</a></li>
</ul>